
@media (max-width: 1440px) {

.site-footer {
  background-color: #111;
  color: #fff;
  padding: 5.5625rem 7.325rem 2rem;
  font-family: sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  gap: 15rem;
  width: 100%;
  margin-bottom: 3rem;
}

.contact-item {
  flex: 1;
  text-align: left;
}

.contact-item p {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: .5rem;
}

.contact-item a {
  color: #999393;
  text-decoration: none;
  border-bottom: 0.5px solid #999393;
  font-size: 1.25rem;
  align-items: flex-start;
  font-weight: 500;
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-bottom: 2rem;
  width: 100%;
}

.footer-brand {
  flex: 1;
  max-width: 20.5rem;
  margin-right: 9.5rem;
}

.footer-logo {
  width: 4.5rem;
  margin-bottom: .5rem;
}

.footer-brand p {
  font-size: 1rem;
  font-weight: 400;
  color: #999393;
  letter-spacing: -0.01rem;
}

.footer-services{
    width: 100%;
    max-width: 17rem;
    margin-right: 14.4375rem;
}

.footer-services h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.footer-services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-services li {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #999393;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons img {
  width: 32px;
  height: 32px;
  filter: brightness(0) invert(1); /* makes icon white */
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.footer-links a {
  margin-left: 1rem;
  color: #fff;
  text-decoration: underline;
}

}


@media (max-width: 1347px) {

.site-footer {
  background-color: #111;
  color: #fff;
  padding: 5.5625rem 3.325rem 1rem;
  font-family: sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  gap: 15rem;
  width: 100%;
  margin-bottom: 3rem;
}

.contact-item {
  flex: 1;
  text-align: left;
}

.contact-item p {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: .5rem;
}

.contact-item a {
  color: #999393;
  text-decoration: none;
  border-bottom: 0.5px solid #999393;
  font-size: 1.25rem;
  align-items: flex-start;
  font-weight: 500;
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-bottom: 2rem;
  width: 100%;
}

.footer-brand {
  flex: 1;
  max-width: 20.5rem;
  margin-right: 9.5rem;
}

.footer-logo {
  width: 4.5rem;
  margin-bottom: .5rem;
}

.footer-brand p {
  font-size: 1rem;
  font-weight: 400;
  color: #999393;
  letter-spacing: -0.01rem;
}

.footer-services{
    width: 100%;
    max-width: 17rem;
    margin-right: 14.4375rem;
}

.footer-services h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.footer-services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-services li {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #999393;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons img {
  width: 32px;
  height: 32px;
  filter: brightness(0) invert(1); /* makes icon white */
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.footer-links a {
  margin-left: 1rem;
  color: #fff;
  text-decoration: underline;
}

}

@media (max-width: 1030px) {

.site-footer {
  background-color: #111;
  color: #fff;
  padding: 5.5625rem 3.325rem 1rem;
  font-family: sans-serif;
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  gap: 3rem;
  width: 100%;
  margin-bottom: 2rem;
}

.contact-item {
  flex: 1;
  text-align: left;
}

.contact-item p {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: .5rem;
}

.contact-item a {
  color: #999393;
  text-decoration: none;
  border-bottom: 0.5px solid #999393;
  font-size: 1.25rem;
  align-items: flex-start;
  font-weight: 500;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 2rem;
  width: 100%;
}

.footer-brand {
  flex: 1;
  max-width: 20.5rem;
  margin-bottom: 2rem;
}

.footer-logo {
  width: 4.5rem;
  margin-bottom: .5rem;
}

.footer-brand p {
  font-size: 1rem;
  font-weight: 400;
  color: #999393;
  letter-spacing: -0.01rem;
}

.footer-services{
    width: 100%;
    max-width: 17rem;
    margin-bottom: 2rem;
}

.footer-services h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.footer-services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-services li {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #999393;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons img {
  width: 32px;
  height: 32px;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 2rem;
  color: #999393;
  margin-bottom: 2rem;
}

.footer-links a {
  margin-left: 1rem;
  color: #999393;
  text-decoration: none;
}

}

@media (max-width: 768px) {

.site-footer {
  background-color: #111;
  color: #fff;
  padding: 5.5625rem 3.325rem 1rem;
  font-family: sans-serif;
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  gap: 3rem;
  width: 100%;
  margin-bottom: 2rem;
}

.contact-item {
  flex: 1;
  text-align: left;
}

.contact-item p {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: .5rem;
}

.contact-item a {
  color: #999393;
  text-decoration: none;
  border-bottom: 0.5px solid #999393;
  font-size: 1.25rem;
  align-items: flex-start;
  font-weight: 500;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 2rem;
  width: 100%;
}

.footer-brand {
  flex: 1;
  max-width: 13.5rem;
  margin-bottom: 2rem;
}

.footer-logo {
  width: 4.5rem;
  margin-bottom: .5rem;
}

.footer-brand p {
  font-size: 1rem;
  font-weight: 400;
  color: #999393;
  letter-spacing: -0.01rem;
}

.footer-services{
    width: 100%;
    max-width: 17rem;
    margin-bottom: 2rem;
}

.footer-services h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.footer-services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-services li {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #999393;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons img {
  width: 32px;
  height: 32px;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 2rem;
  color: #999393;
  margin-bottom: 2rem;
  gap: 12.8px;
}

.footer-links a {
  margin-left: 1rem;
  color: #999393;
  text-decoration: none;
}

}