@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Instrument Sans", sans-serif;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}


/* Nav */
.navbar {
    background: #ffffff;
    color: #000;
    height: 5rem;
    position: sticky;
    top: 0;
    z-index: 3000;
    border-bottom: 1px solid rgb(235, 223, 223);
}

.nav-inner {
    padding: 1rem 8.125rem 1rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1rem;
}

.logo img {
    height: 4rem;
    margin-bottom: ;
}

.nav-center ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

li a {
   text-decoration: none;
   color: #000;
   font-weight: 400;
   font-size: 1rem;
   letter-spacing: -3%;
   line-height: 1;
}

.link-arrow {
    margin-left: .4375rem;
}

.sales-btn {
    border: none;
    border-radius: 1rem;
    padding: .625rem 1.25rem .625rem 20px;
    background-color: #000;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -3%;
    cursor: pointer;
    transition: background 0.3s;
}

.sales-btn:hover {
    background-color: #333;
}


/* ---------- Responsive visibility ---------- */
.hamburger {
  display: none;
  position: relative;
  z-index: 3001;
  width: 28px;
  height: 22px;
  border: 0;
  background: none;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  transition: transform .25s, top .25s, opacity .2s;
}

.hamburger span:nth-child(1) { top: 0; }
.hamburger span:nth-child(2) { top: 10px; }
.hamburger span:nth-child(3) { top: 20px; }

.hamburger.is-active span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}
.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}
.hamburger.is-active span:nth-child(3) {
  top: 10px;
  transform: rotate(-45deg);
}

/* Show hamburger & hide center nav on small screens */
@media (max-width: 900px) {
   .nav-inner {
    padding: 1rem 2rem;
   }
  .nav-center {
    display: none;
  }
  .sales-btn {
    display: none;
  }
  .hamburger {
    display: block;
    justify-self: end;
    z-index: 5000;
  }
}

/* ---------- Side menu ---------- */
.side-menu {
  position: fixed;
  top: 2rem;
  right: 0;
  height: 100vh;
  width: min(80%, 320px);
  background: #fff;
  box-shadow: -4px 0 24px rgba(0,0,0,.08);
  transform: translateX(100%);
  transition: transform .3s ease;
  z-index: 2000;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.side-menu.open {
  transform: translateX(0);
}

.close-menu {
  background: none;
  border: none;
  font-size: 2rem;
  line-height: 1;
  align-self: flex-end;
  cursor: pointer;
}

.side-nav ul {
  list-style: none;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.side-nav a {
  text-decoration: none;
  color: #000;
  font-size: 1.125rem;
}

.side-sales {
  margin-top: 2rem;
  display: inline-block;
}

/* ---------- Overlay ---------- */
.overlay[data-overlay] {
  position: fixed;
  inset: 0;
  background: rgba(32, 31, 31, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease;
  z-index: 1050;
}

.overlay[data-overlay].show {
  opacity: 1;
  visibility: visible;
}

.body-lock {
  overflow: hidden;
}

.hero {
  height: 54.9375rem;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/hero.png");
  background-size: cover;
  background-position: center;
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.hero-content {
    width: 100%;
    max-width: 73.75rem;
}
.hook {
    height: 17.875rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}
.hook h1 {
    width: 100%;
    max-width: 62.25rem;
    height: 9.125rem;
    font-size: 3.75rem;
    font-family: 600;
    line-height: 1.1;
    margin-bottom: 1rem;
}

.typing-text-mobile  {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 1rem;
    display: none;
}


.typing-text::after {
  content: '';
  position: absolute;
  animation: blink 0.8s infinite;
  opacity: 1;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.hook p {
    width: 100%;
    max-width: 56.25rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -1%;
    margin-bottom: 1.5rem;
}

.hero-btn {
    border: none;
    border-radius: 1rem;
    padding: .625rem 1.25rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -3%;
    cursor: pointer;
    transition: background-color 1s ease, color 1s ease;
}

.hero-btn:hover {
    background-color: rgba(245, 221, 3, 0.959);
    box-shadow: 0 0 20px rgba(245, 221, 3, 0.7);
    transition: background-color 1s ease, box-shadow 1s ease;
}

.stats {
    display: flex;
    align-items: center;
    margin-top: 16.875rem;
    flex-wrap: wrap; 
}

.stat h2 {
    font-size: 3.125rem;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    letter-spacing: -3%;
}

.stat p {
    margin-top: 0.6rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -3%;
}

.divider {
    margin: 0 1.25rem;
    width: 1px;
    height: 90px;
    background-color: #ffffff;
}

.services-uno {
    padding: 6.25rem 8.0625rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.Services-wrap {
    display: flex;
    flex-direction: column;
    gap: 5rem; 
}

.services-uno h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #000000;
    line-height: 2.8125rem;
}

.services-items {
    display: flex;
    gap: 1.3125rem;
    flex-wrap: wrap; 
    max-width: 73.875rem;
}

.service-card {
    max-width: 23.75rem;
    text-align: left;
    border: 1px solid #A3A3A3;
    border-radius: .5rem;
    gap: 1rem;
    padding: 1.25rem;
}

.service-card img {
    margin-bottom: 1rem;
}

.service-card h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.service-card p {
    font-size: 1rem;
    font-weight: 400;
}

.services-deux {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F6F2;
    padding: 6.25rem 8.125rem;
    gap: 7.4375rem;
    flex-wrap: wrap;
}

.personnel img {
    max-width: 100%;
    width: 36.25rem;
    min-width: 15rem;
}

.clients {
    width: 30.0625rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.clients h2 {
    font-size: 2.5rem;
    font-weight: 600; 
}

.custom-list {
  list-style: none;
}

.custom-list li {
  position: relative;
  font-size: 1.25rem;
  font-weight: 400;
  padding-left: 2.5rem; /* space for the box */
  margin-bottom: 1.5rem;
}

.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.1rem;
  width: 1.125rem;
  height: 1.125rem;
  background-color:  #F8F6F2; 
  border: 1px solid black; 
  box-shadow: 1.5px 1.5px 0 rgb(0, 0, 0); 
}

.pricing {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 6.25rem 8.125rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.cta2 {
    display: flex;
    flex-direction: column;
    width: 31.375rem;
    gap: 1.625rem;
}

.cta2 h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #000000;
}

.cta2 p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -3%;
}

.cta2-btn {
    border: none;
    border-radius: 1rem;
    width: 11.375rem;
    height: 44px;
    background: #000000;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
}

.cta2-btn:hover {
     background-color: #333;
}

.pricing-details {
    padding: 1.5rem;
    width: 34.8125rem;
    background-color: #ebebeb;
    border-radius: 1.5rem;
}

.pricing-details h2 {
    font-size: 2.1875rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 3rem;
}


#quoteForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 46.8125rem;
    width: 100%;
}

#quoteForm label {
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
    margin-bottom: -0.975rem;
}

#quoteForm input {
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1rem;
    border: 1px solid #a3a3a3;
    outline: none;
    transition: border 0.3s;
}

#quoteForm input::placeholder {
    color: #000000;
    opacity: 50%;
}

#quoteForm input:focus {
     border-color: #000; /* or your brand color */
}

#quoteForm button {
    margin-top: 1rem;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

#quoteForm button:hover {
  background-color: #333;
}


/** jumbotron **/

.jumbotron {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6.25rem 8.125rem;
}

.jumbotron-slider {
    position: relative;
    width: 100%;
    max-width: 62.5rem;
    height: 28.875rem;
    overflow: hidden;
}

.jumbo1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease, transform 1s ease;
    z-index: 0;
}

.jumbo1.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
}

.jumbo1.purple {
    background-color: #3029ae;
}

.jumbo1.black {
    background-color: #0e0d0d;
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
}

.jumbo-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.jumbo-content h2 {
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 2.8125rem;
    width: 37.0625rem;
    color: #ffffff;
    margin: 0 0 1.175rem 3.025rem;
}

.jumbo-image {
    max-width: 30%;
    width: 19.3125rem;
    height: 19.3125rem;
    margin: 1rem 2.625rem 0 0;
}

.jc2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.8125rem;
    width: 37.0625rem;
    color: #ffffff;
    margin: 0 0 1.175rem 3.025rem;
}














@media (max-width: 1024px) {
    .hero {
        height: auto;
        padding: 4rem 2rem;
        background-position: center;
        background-size: cover;
        flex-direction: column;
    }

    .hero-content {
        max-width: 100%;
        padding: 0;
        text-align: center;
    }

    .hook {
        margin-top: 9rem;
        align-items: center;
        text-align: center;
    }

    .heading-desktop {
        font-size: 3rem !important;
        height: auto;
        width: 50rem;
        max-width: 100%;
        line-height: 1.2;
        margin-bottom: 1.2rem;
    }

    .hook p {
        font-size: 1rem;
        width: 45rem;
        max-width: 100%;
        margin-bottom: 1.5rem;
        line-height: 1.6;
    }

    .hero-btn {
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
    }

    .stats {
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
        gap: 2rem;
    }

    .stat h2 {
        font-size: 2rem;
        text-align: center;
    }

    .stat p {
        font-size: 1rem;
        text-align: center;
    }

    .divider {
        display: none;
    }

    .Services-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem; 
    }

    .services-items {
        justify-content: center;
        align-items: center;
    }

    .jumbotron {
        padding: 2.25rem 6.125rem;
    }

    .jumbotron-slider {
        position: relative;
        width: 100%;
        max-width: 62.5rem;
        height: 20.875rem;
        overflow: hidden;
    }

    .jumbo-content h2 {
        font-size: 2.1rem;
        font-weight: 600;
        line-height: 2.125rem;
        width: 46.0625rem;
        color: #ffffff;
        margin: 0 0 1.175rem 2.025rem;
    }

    .jumbo-image {
        max-width: 60%;
        width: 13.3125rem;
        height: 13.3125rem;
        margin: 1rem 2.625rem 0 0;
    }
  
}

@media (max-width: 832px) {
    .hero {
        padding: 3rem 1.5rem;
    }

    .hook {
        margin-top: 6rem;
        gap: 1rem;
    }

    .hook h1 {
        font-size: 2.4rem !important;
        width: 40rem;
    }

    .hook p {
        font-size: 0.95rem;
        width: 30rem;
    }

    .stats {
        margin-top: 3rem;
        gap: 1.5rem;
    }

    .stat h2 {
        font-size: 1.8rem;
    }

    .stat p {
        font-size: 1rem;
    }

    .jumbotron {
        padding: 3.25rem 2.125rem;
    }

    .jumbotron-slider {
        position: relative;
        width: 100%;
        max-width: 62.5rem;
        height: 18.875rem;
        overflow: hidden;
    }

    .jumbo-content h2 {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.125rem;
        width: 46.0625rem;
        color: #ffffff;
        margin: 0 0 1.175rem 2.025rem;
    }

    .jumbo-image {
        max-width: 60%;
        width: 10.3125rem;
        height: 10.3125rem;
        margin: 1rem 2.625rem 0 0;
    }
}


@media (max-width: 654px) {
  .hero {
    padding: 2rem 1rem;
    overflow: hidden;
  }

  .hook {
    margin-top: 7rem;
    gap: 0.75rem;
    width: 100%;
    max-width: 19.5rem;
    margin: 0 auto;
  }

  .heading-desktop {
    display: none;
  }
  .typing-text-mobile {
    display: block;
  }

  .hook p {
    font-size: 0.875rem;
    margin-bottom: 3rem;
  }

  .hero-btn {
    font-size: 0.95rem;
    padding: 0.6rem 1.2rem;
  }

  .stat h2 {
    font-size: 1.5rem;
  }

  .stat p {
    font-size: 0.95rem;
  }

  .preloader .preloader-heading .load-text {
    font-family: "Anton SC", sans-serif;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: .9375rem;
    text-transform: uppercase;
    z-index: 20;
    color: #615454;
    padding: 3rem;
  }
}

@media (max-width: 600px) {
    .services-uno {
        padding: 6.25rem 1.0625rem;
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .services-uno h2 {
        font-size: 1.9375rem;
        text-align: left;
        width: 100%;
    }

    .services-items {
        flex-wrap: wrap; 
        max-width: 73.875rem;
    }

    .service-card {
        max-width: 32.75rem;
    }

    .services-deux {
        padding: 4.25rem 1.125rem;
        gap: 3.5rem;
    }

    .personnel img {
        max-width: 100%;
        width: 36.25rem;
        min-width: 15rem;
    }

    .pricing {
        padding: 6.25rem 1.125rem;
    }

    .jumbotron {
        padding: 3.25rem 2.125rem;
    }

    .jumbotron-slider {
        height: 13.875rem;
        overflow: hidden;
    }

    .jumbo-content h2 {
        font-size: 1.5rem;
        margin: 1.2rem 0 1.175rem 2.025rem;
    }

    .jumbo-image {
        max-width: 60%;
        width: 10.3125rem;
        height: 10.3125rem;
        margin: 1rem .625rem 0 0;
    }
}


@media (max-width: 499px) {
    .hero {
        height: 100%;
    }
    
    .hook {
        gap: 1.2rem;
        margin: 0 auto;
        margin-bottom: 12.75rem;
        margin-top: 4.3rem;
        width: 100%;
        max-width: 22.5625rem;
    }
    .typing-text-mobile {
        width: 100%;
        margin-bottom: 2.2rem !important;
        font-size: 2.3rem !important;
        font-weight: 600;
        line-height: 1.2 !important;
    }

    .hook p {
        width: 100%;
        max-width: 56.25rem;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 3.5rem;
    }

    .stats {
        flex-direction: column;
        align-items: flex-start; 
        text-align: left;
        max-width: 10.9375rem;
        width: 100%;
    }

    .stat h2 {
        font-size: 1.875rem;
        text-align: left;
        margin-bottom: -0.3rem;
    }

    .stat p {
        font-size: 1rem;
        text-align: left;
    }

    .divider {
        width: 2px;
        height: 2px;
        display: block;
        border-radius: 50%;
        background-color: #afabab;
        margin: -0.4rem 0 !important; 
    }

    .services-uno {
        padding: 6.25rem 1.0625rem;
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .services-uno h2 {
        font-size: 1.9375rem;
        text-align: left;
        width: 100%;
    }

    .services-items {
        flex-wrap: wrap; 
        max-width: 73.875rem;
    }

    .service-card {
        max-width: 28.75rem;
        text-align: left;
    }

    .service-card h3 {
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }

    .service-card p {
        font-size: 1rem;
        font-weight: 400;
    }

    .services-deux {
        padding: 4.25rem 1.125rem;
        gap: 3.5rem;
    }

    .personnel img {
        max-width: 100%;
        width: 36.25rem;
        min-width: 15rem;
    }

    .pricing {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 6.25rem 1.125rem;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .jumbotron {
        padding: 2.25rem .825rem;
    }

    .jumbotron-slider {
        height: 12.075rem;
        overflow: hidden;
    }

    .jumbo-content h2 {
        font-size: 1.1rem;
        line-height: 1.3;
        margin: 1.2rem 0 1.175rem 2.025rem;
    }

    .jumbo-image {
        max-width: 40%;
        width: 9.3125rem;
        height: 9.3125rem;
        margin: .5rem .625rem 0 0;
    }
}

@media (max-width: 375px) {
    .typing-text-mobile {
        margin-bottom: 1.5rem !important;
        font-size: 2.1rem !important;
    }

    .hook p {
        font-size: .9rem;
    }

    .jumbotron {
        padding: 2.25rem .825rem;
    }

    .jumbotron-slider {
        height: 10.075rem;
        overflow: hidden;
    }

    .jumbo-content h2 {
        font-size: 1rem;
        line-height: 1.3;
        margin: 1.2rem 0 1.175rem 1.825rem;
    }

    .jumbo-image {
        max-width: 30%;
        width: 7.3125rem;
        height: 7.3125rem;
        margin: .5rem .625rem 0 0;
    }

    .site-footer {
        background-color: #111;
        color: #fff;
        padding: 5.5625rem 1.325rem 1rem !important;
        font-family: sans-serif;
    }   

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  gap: 3rem;
  width: 100%;
  margin-bottom: 2rem;
}

.contact-item {
  flex: 1;
  text-align: left;
}

.contact-item p {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: .5rem;
}

.contact-item a {
  color: #999393;
  text-decoration: none;
  border-bottom: 0.5px solid #999393;
  font-size: 1.25rem;
  align-items: flex-start;
  font-weight: 500;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 2rem;
  width: 100%;
}

.footer-brand {
  flex: 1;
  width: 100%;
  margin-bottom: 2rem;
}

.footer-logo {
  width: 4.5rem;
  margin-bottom: .5rem;
}

.footer-brand p {
  font-size: 1rem;
  font-weight: 400;
  color: #999393;
  letter-spacing: -0.01rem;
  max-width: 16rem;
}

.footer-services{
    width: 100%;
    max-width: 17rem;
    margin-bottom: 2rem;
}

.footer-services h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.footer-services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-services li {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #999393;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons img {
  width: 32px;
  height: 32px;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 2rem;
  color: #999393;
  margin-bottom: 2rem;
  gap: 12.8px;
}

.footer-links a {
  margin-left: 1rem;
  color: #999393;
  text-decoration: none;
}
}

@media (max-width: 320px) {
    .typing-text-mobile {
        margin-bottom: 1.5rem !important;
        font-size: 2rem !important;
    }

    .hook p {
        font-size: .9rem;
        margin-bottom: 4rem;
    }
}





.site-footer {
  background-color: #111;
  color: #fff;
  padding: 5.5625rem 7.325rem 2rem;
  font-family: sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  gap: 15rem;
  width: 100%;
  margin-bottom: 3rem;
}

.contact-item {
  flex: 1;
  text-align: left;
}

.contact-item p {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: .5rem;
}

.contact-item a {
  color: #999393;
  text-decoration: none;
  border-bottom: 0.5px solid #999393;
  font-size: 1.25rem;
  align-items: flex-start;
  font-weight: 500;
}

.footer-middle {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-bottom: 2rem;
  width: 100%;
}

.footer-brand {
  flex: 1;
  max-width: 20.5rem;
  min-width: 10.5rem;
  margin-right: 32.8rem;
}

.footer-logo {
  width: 4.5rem;
  margin-bottom: .5rem;
}

.footer-brand p {
  font-size: 1rem;
  font-weight: 400;
  color: #999393;
  letter-spacing: -0.01rem;
}

.footer-services{
    width: 100%;
    max-width: 17rem;
    margin-right: 36.375rem;
}

.footer-services h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.footer-services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-services li {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #999393;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons img {
  width: 32px;
  height: 32px;
  filter: brightness(0) invert(1); /* makes icon white */
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.footer-links a {
  margin-left: 1rem;
  color: #fff;
  text-decoration: underline;
}


















/*  external */



body.loaded {
    overflow: hidden !important;
    height: 100% !important;
}

.preloader {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent;
    z-index: 99999999999999;
    transition: opacity 0.5s ease;
}

.preloader svg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 110vh;
    fill: #111111;
}

.preloader .preloader-heading .load-text {
    font-family: "Anton SC", sans-serif;
    font-size: 5.875rem;
    font-weight: 600;
    letter-spacing: .9375rem;
    text-transform: uppercase;
    z-index: 20;
    color: #615454;
}

.load-text span {
    -webkit-animation: loading 1s infinite alternate;
    animation: loading 1s infinite alternate;
}

.load-text span:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.load-text span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.load-text span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.load-text span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.load-text span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.load-text span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.load-text span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

@-webkit-keyframes loading {
    0% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes loading {
    0% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.color-pulse {
    background: #00FF00;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
    -webkit-animation: pulse-animation 2s infinite;
    animation: pulse-animation 2s infinite;
}

@-webkit-keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.light-dark-version {
    position: fixed;
    top: 45px;
    right: 40px;
    z-index: 9999;
    cursor: pointer;
}

.progress-wrap {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 44px;
    width: 44px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    z-index: 100;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
    mix-blend-mode: difference;
}

.progress-wrap.active-progress {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.progress-wrap i {
    position: absolute;
    left: 10px;
    top: 8px;
    font-size: 25px;
    text-align: center;
}

.progress-wrap svg path {
    fill: none;
}

.progress-wrap svg.progress-circle path {
    stroke: #ddd;
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.progress-wrap {
    right: 10px;
    bottom: 20px;
}


/* ===== # Magic Cursor ===== */
#magic-cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    pointer-events: none;
    z-index: 10000;
    -webkit-transition: opacity 0.2s ease-in-out 0.5s;
    transition: opacity 0.2s ease-in-out 0.5s;
}

#ball {
    position: fixed;
    width: 20px;
    height: 20px;
    border: 1px solid #999999;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    box-sizing: border-box;
    /* -webkit-transform: scale(0.5);
    transform: scale(0.5); */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* -webkit-transition: 0.2s;
    transition: 0.2s; */
    margin-left: -20px;
    margin-top: -20px;
}

.magic-cursor.cursor-hover {
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    background-color: #cc0000;
    opacity: .3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

#ball.hovered {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
